Report generators and templates
#   * if you want to provide (f.e.) your own report generators exclude the directory here and ignore only the unnecessary subdirectories
Templates

# optional, default for external Python libraries
PyLibs

# Exclude large binary artifacts
#  * you can manage your artifacts also with test.guide (https://www.test-guide.info) and reference them via Playbooks
*.bz2
*.exe
*.msi
*.zip
*.7z
data/raw/

# Exclude default and custom temporary directories
Backup_*

# Python bytecode and cache files
__pycache__/
*.py[cod]
